<!DOCTYPE html>
<html>
    <head>
      <link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
      <link rel="stylesheet" href="css/styles.css" media="screen">
      <title>Let's Play!</title>
    </head>
    <body>
        <div class="container">

            <h1>Lets Play Rock Paper Scissors!</h1>
              <div id="radio">
                  <span class="image-radio">
                      <input name="input" type="radio"  value="rock"/>
                      <img src="images/rock.png">
                  </span><br>
              </div>
              <div id="radio">
                  <span class="image-radio">
                      <input name="input" type="radio"  value="paper"/>
                      <img src="images/paper.jpg">
                  </span><br>
              </div>
              <div id="radio">
                  <span class="image-radio">
                      <input name="input" type="radio"  value="scissors"/>
                      <img src="images/scissors.jpg">
                  </span>
              </div>
        </div>
    </body>
</html>
